version: '3.4'
services:
  mongo01:
    image: mongo:${MONGO_VERSION}
    container_name: mongo01
    env_file:
      - .env
    environment:
      - MONGODB_USERNAME=${MONGODB_USERNAME}
      - MONGODB_PASSWORD=${MONGODB_PASSWORD}
      - MONGODB_DATABASE=${MONGODB_DATABASE}
      - MONGODB_REPLICA_SET_NAME=${MONGODB_REPLICA_SET_NAME}
      - MONGODB_SERVER01=${MONGODB_SERVER01}
      - MONGODB_SERVER02=${MONGODB_SERVER02}
      - MONGODB_SERVER03=${MONGODB_SERVER03}
    ports:
      - 27017:27017
    volumes:
      - ./mongodb_key_file:/data/keyfile/mongo-keyfile
      - ./mongodb_init.sh:/mongodb_init.sh
      - ${MONGO_NODE01_MOUNT_INITDB}:/docker-entrypoint-initdb.d/
      - ${MONGO_NODE01_MOUNT_DB}:/data/db/
      - ${MONGO_NODE01_MOUNT_LOGS}:/var/log/mongodb/
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all","--keyFile", "/data/keyfile/mongo-keyfile" ,"--replSet", "rs01dev01" ]
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.type == master01]

  mongo02:
    image: mongo:${MONGO_VERSION}
    container_name: mongo02
    env_file:
      - .env
    ports:
      - 27018:27017
    volumes:
      - ./mongodb_key_file:/data/keyfile/mongo-keyfile
      - ${MONGO_NODE02_MOUNT_INITDB}:/docker-entrypoint-initdb.d/
      - ${MONGO_NODE02_MOUNT_DB}:/data/db/
      - ${MONGO_NODE02_MOUNT_LOGS}:/var/log/mongodb/
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all","--keyFile", "/data/keyfile/mongo-keyfile" ,"--replSet", "rs01dev01" ]
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.type == master02]

  mongo03:
    image: mongo:${MONGO_VERSION}
    container_name: mongo03
    env_file:
      - .env
    ports:
      - 27019:27017
    volumes:
      - ./mongodb_key_file:/data/keyfile/mongo-keyfile
      - ${MONGO_NODE03_MOUNT_INITDB}:/docker-entrypoint-initdb.d/
      - ${MONGO_NODE03_MOUNT_DB}:/data/db/
      - ${MONGO_NODE03_MOUNT_LOGS}:/var/log/mongodb/
    entrypoint: [ "/usr/bin/mongod", "--bind_ip_all","--keyFile", "/data/keyfile/mongo-keyfile" ,"--replSet", "rs01dev01" ]
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.type == master03]

  mongo-express:
    image: mongo-express:${MONGO_EXPRESS_VERSION}
    container_name: mongo-express
    env_file:
      - .env
    environment:
        - ME_CONFIG_OPTIONS_EDITORTHEME=${ME_CONFIG_OPTIONS_EDITORTHEME}
        - ME_CONFIG_MONGODB_SERVER=${ME_CONFIG_MONGODB_SERVER}
        - ME_CONFIG_MONGODB_PORT=${ME_CONFIG_MONGODB_PORT}
        - ME_CONFIG_MONGODB_ADMINUSERNAME=${ME_CONFIG_MONGODB_ADMINUSERNAME}
        - ME_CONFIG_MONGODB_ADMINPASSWORD=${ME_CONFIG_MONGODB_ADMINPASSWORD}
        - ME_CONFIG_BASICAUTH_USERNAME=${ME_CONFIG_BASICAUTH_USERNAME}
        - ME_CONFIG_BASICAUTH_PASSWORD=${ME_CONFIG_BASICAUTH_PASSWORD}
    ports:
      - "8086:8081"
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.type == master01]